.idea
/nbproject/private/
.project
.cproject
.settings
nbproject/*
src/compiler/lex.yy.*
src/compiler/parser.tab.*
src/compiler/parser.output
src/saffire
/docs/spec/build
*.o
*.~*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/stamp-h1
src/libsaffire.a
src/test
