.idea
/nbproject/private/
.project
.cproject
.settings
nbproject/*
*.o
src/lex.yy.h
src/lex.yy.c
src/parser.tab.*
src/parser.output
src/saffire
/nbproject/private/
/docs/spec/build
*.~*
ast.png
ast.dot
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/stamp-h1
