language: c
compiler: gcc
before_script:
    sh autogen.sh
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libpcre3-dev libfcgi-dev libedit-dev libbz2-dev lib2xml-dev
  - sudo apt-get install -qq php5-cli
  - sudo apt-get install -qq libcunit1-dev
env:
    SAFFIRE_TEST_BIN=src/saffire
script: ./configure && make && make check && sh unittest.sh
notifications:
  irc: "irc.freenode.org#saffire"
