language: c
compiler: gcc
before_script:
  - sh autogen.sh
  - sudo mkdir -p /usr/share/saffire/modules
  - sudo ln -s `pwd`/sfl /usr/share/saffire/modules/sfl
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libpcre3-dev libfcgi-dev libedit-dev libbz2-dev libxml2-dev
  - sudo apt-get install -qq php5-cli php-pear
  - sudo apt-get install -qq libcunit1-dev
  - printf "\n" | sudo pecl install yaml
  - ls -la /etc/php5
  - ls -la /etc/php5/conf.d
  - sudo echo "extension = yaml.so" > /etc/php5/conf.d/yaml.ini

env:
    SAFFIRE_TEST_BIN=src/saffire
script: ./configure && make && make check && sh unittest.sh
notifications:
  irc: "irc.freenode.org#saffire"
